# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Java1\maven_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
